<div class="row">
  <div class="description">
    <h4 class="info-title">{{title}}</h4>
    <h6 class="info-title">{{name}}</h6>
    <span class="btn btn-warning btn-simple">
      {{{rating}}}
    </span>
    <p>{{messageBody}}</p>
  </div>
</div>